<div class="col-4">
  <img src="<%= stock.logo_url %>" 
       class="img-responsive img-rounded"
       alt="<%= stock.symbol %>"
   />
  <h3 class="list-group-item-heading">
    <%= stock.company_name %>
  </h3>
  <p> <strong> Market Cap: </strong>
    <%= number_to_currency stock.market_cap %> 
  </p>
  <%= link_to "Buy", stock, class: "btn btn-primary" %>
</div>
