<p style="color: green"><%= notice %></p>

<h1>Stocks</h1>

<div id="stocks">
  <% @stocks.each do |s| %>
    <p><%= s[:symbol] %> </p>
    <p><%= s[:company_name] %> </p>
    <p><%= s[:market_cap] %> </p>
    <p>
      <%= link_to "Show", s %>
    </p>
  <% end %>
</div>

<%= link_to "New stock", new_stock_path %>
