<p style="color: green">
  <%= notice %>
</p>
<div data-controller="total-cost">
  <img src="<%= @stock.logo_url %>" 
     class="img-responsive img-rounded"
     alt="<%= @stock.company_name %> logo"
   />
  <h3 class="list-group-item-heading">
    <%= @stock.company_name %> 
    (<strong><%= @stock.symbol %></strong>)
  </h3>
  <h5 data-total-cost-target="price">
    <strong>Latest Price:</strong> 
    <%= number_to_currency @stock.latest_price %> 
  </h5>
  <h5><strong>Quantity:</strong> 
    <%= @stock.quantity %> 
  </h5>
  <%= render "form" %>
</div>
