<%= form_with model: @transaction do |f| %>
  <h5>
    <strong>Total Cost:</strong>
    <input readonly="true" data-total-cost-target="total"/>
  </h5>
  <%= f.hidden_field :transaction_type, value: 0 %>
  <h5>
    <strong>Quantity:</strong>
    <%= f.number_field :quantity, 
      min: 1, max: @company[:stocks],
      data: { 
        action: "change->total-cost#update", 
        total_cost_target: "quantity"
      } 
    %>
  </h5>
  <%= f.hidden_field :stock_id, value: @company[:id] %>
  <%= f.hidden_field :user_id, value: current_user[:id] %>
  <%= f.submit value: "Buy", class: "btn btn-primary" %>
<% end %>
