<div id="<%= dom_id transaction %>">
  <p>
    <strong>Type:</strong>
    <%= transaction.type %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= transaction.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= transaction.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transaction.user_id %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= transaction.stock_id %>
  </p>

</div>
